<header>
  Page headers
  <ul>
        <% if(locals.user){ console.log("From header",locals.user)%>
         <li>
            <a href="/admin/profile"><%= user.name%></a>
         </li>
         <li>
            <a href="/admin/logout">Logout</a>
         </li>
        <%}else{%>
            <li>
                <a href="/admin/signup">Signup</a>
            </li>
            <li>
                <a href="/admin/login">Login</a>
            </li>
        <%}%>
  </ul>
</header>
