<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
</head>
<body>
    <h1>Hello Admin Hope you are doing well</h1><br>
    <h2>Your email is admin@admin.com</h2>

    <button type="submit" onclick="logout()">Logout</button>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- <script type="text/javascript" src="/js/adminProfile.js"></script> -->

</body>
</html>