<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo List</title>
    <link rel="stylesheet" href="/css/todo.css">
</head>

<body>
    <div class="container">
        <h1>Hi Yash! Here's Your Todo List</h1>
        <div class="add-task">
            <form action="/todolist/create-task" method="POST">
                <input type="text" placeholder="Add a task" name="taskDescription">

                <select name="priority" id="priority">
                    <option value="Regular" selected>Regular</option>
                    <option value="High">High</option>
                    <option value="Critical">Critical</option>
                </select>
                
                <label for="datepicker">Select the due date:</label>
                <input type="date" id="datepicker" name="datepicker">

                <button type="submit">Add</button>
            </form>
        </div>
        <br>
        <div id="tasks">
            <%for(let i of todotasks){%>
            <div class="todo-item">
                <input type="checkbox">
                <label><%= i.description%></label>
                <label><%= i.priority%></label>
                <label><%= i.date%></label>
            </div>
            <%}%>
        </div>   
    </div>
    <script type="text/javascript" src="/js/todo.js"></script>
</body>

</html>
